body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box
}

font[size='1'] {
    font-size: 12px;
}

font[size='2'] {
    font-size: 16px;
}

font[size='3'] {
    font-size: 24px;
}

#bold {
    font-weight: bold;
}

#italic {
    font-style: italic;
}

#underline {
    text-decoration: underline;
}

p {
    text-indent: 20px;
    margin: 0;
}
  
#editor {
    resize:vertical;
    overflow:auto;
    border:1px solid silver;
    border-radius:5px;
    min-height:100px;
    box-shadow: inset 0 0 10px silver;
    padding:1em;
    width: 80%;
    margin: 20px auto;
}

.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.btn, .select, .input {
    margin: 0 5px;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

.result > div {
    width: 45%;
}

.row {
    width: 80%;
    margin: 20px auto;
    display: flex;
}

#get {
    display: block;
    margin-left: auto;
}